*{
    background: darkgoldenrod;
}
#corpo{
    text-align: center;
    margin: 100px;
}
#corpo{
    text-align: center;
    margin: 100px;
}
#play, #stop{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    color: white;
    font-size: 15px;
}
#simbolo1,#simbolo2,#simbolo3,#simbolo4{
    display: none;
}
#verso-um, #verso-dois, #verso-tres, #verso-quatro, #verso-cinco, #verso-seis{
    color: black;
    text-align: center;
    text-align: justify;
    width: 40%;
    font-size: 25px;
    margin-left: 40%;
    display: none;
    transition: all 0.3s;
}