*{
    text-align: center;
}
body{
    background: rgb(187, 50, 0);
}
#calculadora{
    border: solid black 2px;
    border-radius: 20px;
    width: 270px;
    padding: 5px;
    background: coral;
    margin-left: 40%;
    margin-top: 300px;
}
#visor{
    text-align: right;
    font-size: 20px;
    border: solid 2px black;
    height: 50px;
    width: 250px;
    background: rgb(201, 201, 201);
    margin-bottom: 5px;
    border-radius: 10px;
    font-size: 20px;
}
.botao{
    background: rgb(54, 54, 53);
    color: white;
    width: 60px;
    height: 40px;
    padding: 5px;
    margin:1px;
    font-size: 16px;
}
.botao:hover{
    background: rgb(201, 201, 201);
}
.botao:active{
    background:rgb(0, 162, 255);
}
.borda{
    border: solid 2px black;
    border-radius: 10px;
}
